# Sistema operacional
Thumbs.db
Desktop.ini
.DS_Store

# Editores / IDEs
.vscode/
.idea/
*.swp

# Dependências e build (caso o projeto cresça)
node_modules/
dist/
build/

# Arquivos temporários e logs
*.log
*.tmp
